{% extends "base.html" %}
{% load i18n %}

{% block jquery %} 
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="/static/js/jquery.diy.project-details.js"></script>
{% endblock %}

{% block title %} Welcome {% endblock %}

{% block signpost %}
<div id="signpost">
<p class="p1">
	<img width="230" height="230" src="/static/img/save-230.png" alt="save button"> <span></span>
	</p>
<p class="p2">&nbsp;</p>
</div>
{% endblock %}

{% block content %}

{% if form.errors %}
        <p class="errorBar">{% trans 'Please correct the error' %} {{ form.errors|pluralize }} {% trans 'below.' %} </p>
    {% endif %}

<div id="dialog-confirm" class="hidden" title="{% trans 'Are you sure?' %}">
	<p><span class="ui-icon ui-icon-alert" style="margin:0 7px 20px 0;"></span>{% trans 'Please confirm your selections. If you later return to this page and change your answers, please note that this program will not delete the previously created folder(s).' %}</p>
</div>

<h3><span>{% trans 'Project details' %}</span></h3>
<p>{% trans 'Please enter the name of this project (e.g. German Grammar) below. Your images, thumbnails, and Scantailor project file will be stored in Location under a folder called Title (e.g. German Grammar). The Location folder cannot accept Windows UNC paths ' %} \\server\share {% trans ' currently. Also, to see the automatic preview thumbnails, the Location must be on the same hard drive (eg C:\) as this program.' %}</p>

	<form id="jqueryForm" method="post" action="">
		<label for="title">{% trans ' Title' %}</label>
		<span class="inputText">{{ form.title }} <span class="error"> {{ form.title.errors|striptags }} </span></span>
		
		<label for="location">{% trans 'Location' %}</label>
		<span class="inputText">{{ form.path }} <span class="error"> {{ form.path.errors|striptags }} </span></span>
		
		<label for="colors">{% trans 'Colors' %}</label>
		<span class="inputText">{{ form.color_mode }} <span class="error"> {{ form.path.color_mode|striptags }} </span></span>

		<label for="automation">{% trans 'Mode' %}</label>
		<span class="inputText">{{ form.auto_mode }} <span class="error"> {{ form.path.auto_mode|striptags }} </span></span>
		
		<div class="hidden"><label for="location">{% trans 'Date Created' %}</label><span class="inputText">{{ form.date_created }}</span></div>
	
		<input class="hidden" type="submit" value="{% trans 'Submit' %}"/>
    </form>
{% endblock %}

{% block buttonbar %}
<a id="previous"   href="{{ vars.previous }}"><img src="/static/img/Button-Previous-icon-50.png" width="50" height="50" alt="Previous button">{% trans 'Previous' %}</a>
<a id="jqueryNext" href="{{ vars.next }}"><img src="/static/img/Button-Next-icon-50.png" width="50" height="50" alt="Next button">Next</a>
{% endblock %}

