{% extends "base.html" %}

{% load i18n %}

{% block title %} Scantailor {% endblock %}

{% block signpost %}
<div id="signpost">
<p class="p1">
	<img width="240" height="296" src="/static/img/prereqs.png" alt="save button"> <span></span>
	</p>
<p class="p2">&nbsp;</p>
</div>
{% endblock %}

{% block content %}
<h3><span>{% trans 'Clean and convert' %}</span></h3>
<p style="margin-left: 240px">
{% trans ' ' %} <br/>
	  <button id="step1" class="ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all">
	    <span id="start-processing" class="ui-button-text">{% trans 'Start!' %}</span>
	  </button>
	  </br> <br/> 

</p>

<br/>
<br/>

</p>
{% endblock %}

{% block buttonbar %}
<a id="previous"   href="{{ vars.previous }}"><img src="/static/img/Button-Previous-icon-50.png" width="50" height="50" alt="Previous button">{% trans 'Previous' %}</a>
<a id="next" href="{{ vars.next }}"><img src="/static/img/Button-Next-icon-50.png" width="50" height="50" alt="Next button">Next</a>
{% endblock %}